<div class="container-fluid">
	<div class="row">
    
    <!-- nav tabs -->
		<div class="col-sm-2">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<% @people.each_with_index do |person,k| %>
					<% if k.zero? %>
						<li role="presentation" class="active">
							<a class="btn btn-default btn-circle" href=<%="#student#{k}"%> aria-controls=<%="student#{k}"%>
							 role="tab" data-toggle="tab"><span><%=person.full_name%> </span></a>
						</li>
					<% else %>
						<li role="presentation">
							<a class="btn btn-default btn-circle" href=<%="#student#{k}"%> aria-controls=<%="student#{k}"%>
							 role="tab" data-toggle="tab"><span><%=person.full_name%> </span></a>
						</li>
	        <% end %>
        <% end %>
	
			</ul>
		</div>
    <!-- end nav tabs  -->

		
        <!-- Tab panes -->
        <div class="col-sm-10">
            <div class="tab-content">
            	<% @people.each_with_index do |person,k| %>
								<% if k.zero? %>
                	<div role="tabpanel"  id=<%="student#{k}"%> class="tab-pane active">			
  									<%= render 'tabpanel', person: person %>
  								</div> 
                	<!-- end tab-pane student -->
                <% else %>
                	<div role="tabpanel"  id=<%="student#{k}"%> class="tab-pane">			
  									<%= render 'tabpanel', person: person %>
  								</div> 
                	<!-- end tab-pane student -->
                <% end %>
							<% end %>
           </div>
            <!-- end tab content -->
	   </div>
        <!-- end tab panes -->
	</div> 
	<!-- end row -->
</div>
<!-- end container fluid-->												
